/* Estilos CSS para o seu site */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(187, 178, 95);
}

header {
    background-color: rgb(116, 109, 19);
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 20px;
}

h2 {
    color: #333;
}

ul.product-list {
    list-style-type: none;
    padding: 0;
    display: flex; /* Exibe os produtos em uma linha */
    flex-wrap: wrap; /* Quebra para a próxima linha quando não há espaço suficiente */
    justify-content: space-between; /* Espaço entre os produtos */
}

li.product {
    display: inline-block;
    width: calc(100% - 10px); /* Largura para dois produtos em uma linha com espaço */
    margin-bottom: 10px;
    box-sizing: border-box; /* Inclui margens no tamanho total */
}

button {
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}
